.alignwide {
    margin-left  : 0px;
    margin-right : 0px;
    max-width    : 100vw;
}
.alignfull{
	width:100%;
}
.alignwide iframe{
	width:100%;
}
.wp-block-cover-image{
	width:auto;
}
.wp-block-gallery{
	padding-left:0px !important;
}
.wp-block-gallery li{
	list-style:none !important;
}
.alignnone figure img,.columns-2 figure img{
    margin-bottom: 10px;
}