.extended-custom-icon-qode {
	background-image: url('images/vc-extend.png');
	background-size: auto !important; /* to override Visual Composer css style */
}
.extended-custom-icon-qode.icon-wpb-testimonials{ 
	background-position:0 0;
}
.extended-custom-icon-qode.icon-wpb-portfolio{ 
	background-position: -32px 0;
}

.extended-custom-icon-qode.icon-wpb-portfolio_slider {
  	background-position: -64px 0;
}

.extended-custom-icon-qode.icon-wpb-qode_carousel {
  	background-position: -96px 0;
}
.extended-custom-icon-qode.icon-wpb-counter{ 
	background-position: -128px 0;
}
.extended-custom-icon-qode.icon-wpb-icon_list_item{ 
	background-position: -160px 0;
}
.extended-custom-icon-qode.icon-wpb-action{ 
	background-position: -192px 0;
}
.extended-custom-icon-qode.icon-wpb-blockquote{ 
	background-position:-224px 0;
}
.extended-custom-icon-qode.icon-wpb-button{ 
	background-position:-256px 0;
}
.extended-custom-icon-qode.icon-wpb-image_with_text{ 
	background-position:-288px 0;
}

.extended-custom-icon-qode.icon-wpb-message{ 
	background-position:-320px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart{ 
	background-position:-352px 0;
}

.extended-custom-icon-qode.icon-wpb-pie_chart_with_icon {
  	background-position: -384px 0;
}

.extended-custom-icon-qode.icon-wpb-pie_chart2{ 
	background-position:-416px 0;
}
.extended-custom-icon-qode.icon-wpb-pie_chart3{ 
	background-position:-448px 0;
}
.extended-custom-icon-qode.icon-wpb-progress_bar{ 
	background-position:-480px 0;
}
.extended-custom-icon-qode.icon-wpb-vertical_progress_bar {
  	background-position: -512px 0;
}
.extended-custom-icon-qode.icon-wpb-progress_bar_icon{ 
	background-position:-544px 0;
}
.extended-custom-icon-qode.icon-wpb-line_graph{ 
	background-position:-576px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing_column{ 
	background-position:-608px 0;
}
.extended-custom-icon-qode.icon-wpb-social_share{ 
	background-position:-640px 0;
}
.extended-custom-icon-qode.icon-wpb-custom_font{ 
	background-position:-672px 0;
}
.extended-custom-icon-qode.icon-wpb-ordered_list{ 
	background-position:-704px 0;
}
.extended-custom-icon-qode.icon-wpb-unordered_list{ 
	background-position:-736px 0;
}
.extended-custom-icon-qode.icon-wpb-icons{ 
	background-position:-768px 0;
}
.extended-custom-icon-qode.icon-wpb-social_icons{ 
	background-position:-800px 0;
}
.extended-custom-icon-qode.icon-wpb-icon_text{ 
	background-position:-832px 0;
}
.extended-custom-icon-qode.icon-wpb-latest_post{ 
	background-position:-864px 0;
}
.extended-custom-icon-qode.icon-wpb-steps{ 
	background-position:-896px 0;
}

.extended-custom-icon-qode.icon-wpb-image_with_text_over{
	background-position: -928px 0;
}

.extended-custom-icon-qode.icon-wpb-service {
	background-position: -960px 0;
}

.extended-custom-icon-qode.icon-wpb-image_hover {
	background-position: -992px 0;
}

.extended-custom-icon-qode.icon-wpb-qode_clients,
.extended-custom-icon-qode.icon-wpb-qode_client {
	background-position: -1024px 0;
}
.extended-custom-icon-qode.icon-wpb-cover_boxes {
	background-position: -1056px 0;
}
.extended-custom-icon-qode.icon-wpb-q_team {
	background-position: -1088px 0;
}
.extended-custom-icon-qode.icon-wpb-animated_icons_with_text {
	background-position: -1120px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_circles,
.extended-custom-icon-qode.icon-wpb-qode_circle {
	background-position: -1152px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_elements_holder {
	background-position: -1184px 0;
}
.extended-custom-icon-qode.icon-wpb-qode_elements_holder_item {
	background-position: -1216px 0;
}
.extended-custom-icon-qode.icon-wpb-twitter-shortcode {
	background-position: -1248px 0;
}
.extended-custom-icon-qode.icon-wpb-product-list {
	background-position: -1280px 0;
}
.extended-custom-icon-qode.icon-wpb-shop-category-showcase {
	background-position: -1312px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing-list {
	background-position: -1344px 0;
}
.extended-custom-icon-qode.icon-wpb-pricing-list-item {
	background-position: -1344px 0;
}
.extended-custom-icon-qode.icon-wpb-countdown {
	background-position: -1376px 0;
}
.extended-custom-icon-qode.icon-wpb-service_table {
	background-position: -1408px 0;
}
.extended-custom-icon-qode.icon-wpb-centered-portfolio-carousel {
	background-position: -1440px 0;
}
.extended-custom-icon-qode.icon-wpb-content-slider {
	background-position: -1472px 0;
}
.extended-custom-icon-qode.icon-wpb-content-slide {
	background-position: -1504px 0;
}
.extended-custom-icon-qode.icon-wpb-google-map {
	background-position: -1536px 0;
}
.extended-custom-icon-qode.icon-wpb-image-with-overlapping-info {
	background-position: -1568px 0;
}
.extended-custom-icon-qode.icon-wpb-interactive-image {
	background-position: -1600px 0;
}
.extended-custom-icon-qode.icon-wpb-simple-blog-list {
	background-position: -1632px 0;
}
.extended-custom-icon-qode.icon-wpb-restaurant-menu {
	background-position: -1664px 0;
}
.extended-custom-icon-qode.icon-wpb-reservation-form {
	background-position: -1696px 0;
}
.extended-custom-icon-qode.icon-wpb-working-hours {
	background-position: -1728px 0;
}
.extended-custom-icon-qode.icon-wpb-product-list-carousel {
	background-position: -1760px 0;
}

.extended-custom-icon-qode.icon-wpb-woocommerce_order_tracking,
.extended-custom-icon-qode.icon-wpb-add_to_cart,
.extended-custom-icon-qode.icon-wpb-product,
.extended-custom-icon-qode.icon-wpb-products,
.extended-custom-icon-qode.icon-wpb-product_categories,
.extended-custom-icon-qode.icon-wpb-product_category,
.extended-custom-icon-qode.icon-wpb-recent_products,
.extended-custom-icon-qode.icon-wpb-featured_products,
.extended-custom-icon-qode.icon-wpb-woocommerce_messages,
.extended-custom-icon-qode.icon-wpb-woocommerce_cart,
.extended-custom-icon-qode.icon-wpb-woocommerce_checkout,
.extended-custom-icon-qode.icon-wpb-woocommerce_my_account,
.extended-custom-icon-qode.icon-wpb-woocommerce_edit_address,
.extended-custom-icon-qode.icon-wpb-woocommerce_change_password,
.extended-custom-icon-qode.icon-wpb-woocommerce_view_order,
.extended-custom-icon-qode.icon-wpb-woocommerce_pay,
.extended-custom-icon-qode.icon-wpb-woocommerce_thankyou{ 
	background-image: url('images/vc__woo_icon.png');
	background-position:0 0;
}

